td {
    padding: 4px 4px 4px 4px;
}

.container {
    padding-left: 0px;
    padding-right: 0px
}

.rightPanel tr td {
  padding: 4px 0px 4px 20px;
}

.sideHeader p {
  color: #FFF;
}

.stickRight {
  margin: 0 0 0 auto;
}

.floatRight {
  float:right;
}

.seachAction > Button:last-child {
  margin-right:20px;
}

.fallRight {
  float: right;
  display: block;
  position: relative;
  top: -30px;
  right: 20px;  
}

.MuiInput-root-215 {
  font-size: 14px !important;
}

.stickRight > div:hover {
  cursor:pointer;
}

.stickRight > div:not(:first-child) {
  padding-left:20px;
}

.tradeList thead tr {
  background-color: #212121;
}

.tradeList tr th {
  color: #FFF;
  font-size: 14px;
}

.tradeList tr th, .tradeList tr td {
  padding: 4px 10px 4px 10px;
}

#tradeDateFrom {
  max-width: 120px;
  font-size: 12px;
}
#tradeDateTo {
  max-width: 120px;
  font-size: 12px;
}

#tradeDate, #tradeQuantity {
  max-width: 140px;
  font-size: 14px;
}

#searchForm {
  padding: 20px 15px 0px;
  background-color:#f5f5f5;
}

#searchForm > form > div > div > div > div > div > div {
  font-size: 12px;  
}

.leftSpacer {
  margin-left:10px;
  display: block;
}

.rightSpacer {
  margin-right:10px;
}

.formButtons {
  text-align: right;
  display: block;
  padding: 20px 10px 10px;
}

.inlinBlock {
  display: inline-block;  
}

.dropSelects {
  min-width:100px;
}

#searchForm > form > div > div.sideContainer > div > label {
  font-size: 12px !important;
}

#searchForm > form > div > div.sideContainer > div > div {
  position: relative;
  top: -12px;
}

.tabContainer {
  padding:0px 15px;
}

.topSpacer {
  padding-top:15px;
}

.noResults {
  text-align:center !important;
  font-size:15px;
}

.centeredLogin {
  width: 600px;
  margin: 200px auto;
}

.centeredLogin p {
  font-size: 25px;
}

.logo {
  width: 65px;
  vertical-align: baseline;
  margin-top:10px;
}

.ticker {
  display:inline-block;
  border-right:solid 1px orange;
}

.ticker > .symbol {
  background-color: #212121;
  color: #FFF;
  padding: 0 7px 0 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
}

.ticker > .price {
  background-color: #212121;
  color: orange;
  padding: 0 20px 0 7px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
}

.tickerContainer {
  padding-top: 2px;
  background-color: #e0e0e0;
}